@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .neon-item {
    @apply shadow-neon;
  }

  .shadow-neon {
    box-shadow: 0 0 5px #ff5f1f, 0 0 10px #ff5f1f, 0 0 20px #ff5f1f, 0 0 40px #ff5f1f, 0 0 80px #ff5f1f;
    transition: box-shadow 0.3s ease-in-out;
  }

  .shadow-neon:hover {
    box-shadow: 0 0 10px #ff5f1f, 0 0 20px #ff5f1f, 0 0 40px #ff5f1f, 0 0 80px #ff5f1f, 0 0 160px #ff5f1f;
  }
}